name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize
  schedule:
    - cron: 0 15 * * *
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: macos-26
    timeout-minutes: 30
    name: Test
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Setup Xcode
        run: |
          xcodes select
          defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES
          defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Setup Project
        run: task install
      - name: Run tests
        run: task test
        env:
          SLACK_URL: ${{ secrets.SLACK_URL }}
